<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Umidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div echarts [options]="chartOptions" class="demo-chart"></div>
  <ion-list>
    <ion-item>
      Data
      <div class="item-note" slot="end">Umidade</div>
    </ion-item>
    <ion-item *ngFor="let item of items">
      {{ item.data | date:'medium'}}  
      <div class="item-note" slot="end">
        {{item.valor | number: '2.2-2'}} 
      </div>
    </ion-item>
  </ion-list>
</ion-content>
