<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- Boas Vindas -->
    <ion-card class="welcome-card">
      <ion-img src="/assets/background-home.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Conheça sua Propriedade</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Com esta ferramenta revolucionária você vai conseguir saber em tempo real e o histórico de temperatura e umidade do solo. E também serve pra ganhar nota de Proj. de IOT na FATEC no quinto termo de big data no agronegócio.</p>
      </ion-card-content>
    </ion-card>

    <!-- Opções Disponíveis -->
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Opções Disponíveis</ion-label>
      </ion-list-header>
      <ion-item [routerDirection]="'root'" [routerLink]="['/temperatura']">
        <ion-icon slot="start" class="temperatura" name="thermometer"></ion-icon>
        <ion-label>Temperatura</ion-label>
      </ion-item>
      <ion-item [routerDirection]="'root'" [routerLink]="['/umidade']">
        <ion-icon slot="start" class="umidade" name="water"></ion-icon>
        <ion-label>Umidade</ion-label>
      </ion-item>
    </ion-list>

    <!-- Gráfico -->
    <div echarts [options]="chartOptions" class="demo-chart"></div>
</ion-content>
